#body {
    min-height: 100vh;
    min-width: 100vw;
    margin: 0;
    padding: 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    background-image: url('img.jpg');
    top: 500px;
      
}
#caja {
    position: absolute;
    width: 100px;
    height: 100px;
    background-color: rgb(90, 240, 102);
    top: 0;
    left: 0;
    transition: top 3000ms;
    
}

